APP_DATABASE_PROVIDER=sqlite
DATABASE_URL="file:./dev.db"
SUPABASE_DATABASE_URL=
SUPABASE_DIRECT_URL=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_STORAGE_BUCKET="asset-files"
DATABASE_SCHEMA="immos"
APP_NAME="Inventaire Immos"
