APP_DATABASE_PROVIDER=sqlite
APP_FILE_STORAGE_PROVIDER=local
DATABASE_URL="file:./dev.db"
SUPABASE_DATABASE_URL=
SUPABASE_DIRECT_URL=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_STORAGE_BUCKET="asset-files"
LOCAL_ASSET_UPLOAD_DIR=
DATABASE_SCHEMA="immos"
APP_NAME="Inventaire Immos"
